*{
    margin:0;
    padding:0;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

#input{
    color:orange;
    height:30px;
    border: 2px solid white;
}

.btn{
    color: white;
    margin-top: 10px;
    border: 2px solid white;
    padding:8px;
    border-radius:10px;
    width:70px;
    text-align: center;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(255, 166, 0, 0.596);
    color: black;
}